@model List<WebUI.Models.Catalog.CourseViewModel>

@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="">
        </div>
    }
</div>